@page
@model Test_Project.Pages.EFCoreModel

@{
    ViewData["Title"] = "EFCore";
}

@addTagHelper *,LazZiya.TagHelpers

<style>
    .pagination {
        display: flex;
        justify-content: center;
        direction: ltr !important;
    }

        .pagination a {
            color: black;
        }

            .pagination a.active {
                background-color: dodgerblue;
                color: white;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>

<form>
    <input asp-for="SearchBox" />
    <input type="submit" value="جستوجو" />
</form>

<h1>EFCore</h1>

<p>
    <a asp-page="Create">افزودن</a>
</p>

<form method="post">
    <input type="submit" value="دانلود فایل Excel" asp-page-handler="ExportExcel" />
    <input type="submit" value="دانلود فایل PDF" asp-page-handler="ExportPDF" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                نام و نام خانوادگی
            </th>
            <th>
                موبایل
            </th>
            <th>
                سن
            </th>
            <th>
                آدرس
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employee)
        {
            <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.Mobile
                </td>
                <td>
                    @item.Age
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.id">ویرایش</a> |
                    <a asp-page="./Details" asp-route-id="@item.id">جزئیات</a> |
                    <a asp-page="./Delete" asp-route-id="@item.id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

@if (Model.TotalRecords > Model.PageSize)
{
    <paging total-records="Model.TotalRecords"
        page-no="Model.PageNo"
        page-size="Model.PageSize"
        text-next=""
        text-previous=""
        sr-text-previous="&laquo;"
        sr-text-next="&raquo;"
        show-first-last="false"
        show-page-size-nav="false"
        max-displayed-pages="5"
        class="pagination">
    </paging>
}