@page
@model Test_Project.Pages.NewTableModel
@{
    ViewData["Title"] = "NewTable";

    <head>
        <link rel="stylesheet" type="text/css" href="~/css/perfect-scrollbar.css">
        <link rel="stylesheet" type="text/css" href="~/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/css/main.css">

        <style>
        .dideo-tooltip {
            position: relative;
            display: inline-block;
            font-family: 'bnazanin';
            font-size: 0;
            padding: 3px 5px;
        }

        .dideo-tooltip .tooltiptext {
            visibility: hidden;
            font-family: 'bnazanin';
            width: 120px;
            font-size: 13px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 110%;
        }

        .dideo-img {
            width: 18px;
            height: 18px;
            margin-bottom: -3px;
            filter: drop-shadow(0px 0px 2px #adadad);
            webkit: filter: drop-shadow(0px 0px 2px #adadad);
        }

        .dideo-tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent black transparent transparent;
        }

        .dideo-tooltip:hover .tooltiptext {
            visibility: visible;
        }

        .srg {
            min-width: 750px;
        }
    </style>
    </head>
    


    DataTable dataTable = new DataTable();

    string connectionString =
            "Data Source=DESKTOP-90OC7A4\\SQLEXPRESS;Initial Catalog=Test_db;Integrated Security=true";

    string queryString =
        "SELECT [id] ,[FullName] ,[Mobile] ,[Age] ,[Address] FROM [Test_db].[dbo].[Employees]";


    using (SqlConnection connection =
        new SqlConnection(connectionString))
    {
        SqlCommand command = new SqlCommand(queryString, connection);

        try
        {
            connection.Open();
            SqlDataReader reader = command.ExecuteReader();

            dataTable.Load(reader);

            reader.Close();
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    <h1 style="text-align:center">صفحه تست NewTable</h1>
    <br />

    if (dataTable.Rows.Count > 0)
    {
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver1">
                        <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column1">ردیف</th>
                                        <th class="cell100 column2">نام و نام خانوادگی</th>
                                        <th class="cell100 column3">موبایل</th>
                                        <th class="cell100 column4">سن</th>
                                        <th class="cell100 column5">آدرس</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll ps ps--active-y">
                            <table>
                                <tbody>
                                    @foreach (DataRow row in dataTable.Rows)
                                    {
                                        <tr class="row100 body">
                                            <td class="cell100 column1">@row["id"]</td>
                                            <td class="cell100 column2">@row["FullName"]</td>
                                            <td class="cell100 column3">@row["Mobile"]</td>
                                            <td class="cell100 column4">@row["Age"]</td>
                                            <td class="cell100 column5">@row["Address"]</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 585px; right: 5px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 293px;"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h1 style="text-align:center">!متاسفانه داده ای جهت نمایش یافت نشد</h1>
    }


    <script type="text/javascript" src="~/lib/analytics.js"></script>
    <script src="~/lib/jquery-3.2.1.min.js"></script>
    <script src="~/lib/perfect-scrollbar.min.js"></script>

    <script>
        $('.js-pscroll').each(function() {
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function() {
                ps.update();
            })
        });
    </script>
}
