@page
@model Test_Project.Pages.sqlDataReader
@{
    ViewData["Title"] = "SqlDataReader";

    <style>
        table {
            font-family: arial, sans-serif;
            width: 100%;
            box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
        }

        th {
            background-color: #6c7ae0;
            color: #fff;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f8f6ff;
        }
    </style>

    DataTable dataTable = new DataTable();


    string connectionString =
            "Data Source=DESKTOP-90OC7A4\\SQLEXPRESS;Initial Catalog=Test_db;Integrated Security=true";

    string queryString =
        "SELECT [id] ,[FullName] ,[Mobile] ,[Age] ,[Address] FROM [Test_db].[dbo].[Employees]";


    using (SqlConnection connection = new SqlConnection(connectionString))
    {
        SqlCommand command = new SqlCommand(queryString, connection);

        try
        {
            connection.Open();
            SqlDataReader reader = command.ExecuteReader();

            dataTable.Load(reader);

            reader.Close();
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    <h1 style="text-align:center">صفحه تست SqlDataReader</h1>
    <br />

    if (dataTable.Rows.Count > 0)
    {
        <table>
            <tr>
                <th style="padding:3px !important;">ردیف</th>
                <th>نام و نام خانوادگی</th>
                <th>موبایل</th>
                <th style="padding:12px !important;">سن</th>
                <th>آدرس</th>
            </tr>
            @foreach (DataRow row in dataTable.Rows)
            {
                <tr>
                    <td>@row["id"]</td>
                    <td>@row["FullName"]</td>
                    <td>@row["Mobile"]</td>
                    <td>@row["Age"]</td>
                    <td>@row["Address"]</td>
                </tr>
            }
        </table>

        <br />
    }
    else
    {
        <h1 style="text-align:center">!متاسفانه داده ای جهت نمایش یافت نشد</h1>
    }

    MyClass myClass = new MyClass();

    <h1 style="text-align:center">@myClass.jkhjk</h1>
}
